.list--index {

  li {
    margin-bottom: 1em;
  }
  li.template {
    border-top: 1px solid;
    list-style: none;
    margin-left: -40px;
    font-weight: bold;
    margin-top: 3em;
  }
  a {
    text-decoration: none;
  }
  span {
    text-decoration: underline;
  }
  small {
    color: #333;
    text-decoration: none;
  }
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
  }
}

.indications, .resources {
  display: flex;
  flex-wrap: wrap;
  
  > h1 {
    width: 100%;
  }
  > .resources-title {
    width: 100%;
  }
  &.count-1 {
    .card {
      width: 100%;
    }
  }
  &.count-2 {
    .card {
      width: calc(100% / 2 - 4em)
    }
  }
  &.count-3 {
    .card {
      width: calc(100% / 3 - 4em);
    }
  }
}
.card {
  margin: 1em;
  padding: 1em;
  box-shadow: inset 0 0 0 1px #f0f0f0;
  
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

button {
  border: 1px solid;
  padding: .33em .5em;
}

h1.page-title {
  box-shadow: none;
  font-size: 2.66em;
  padding: 0;
  margin: 1em 0;
  
  &:after {
    display: none;
  }
}

h1 {
  position: relative;
  padding-left: 0.66em;
  box-shadow: inset 4px 0px hsla(0,0%,50%,.33);
  margin-top: 2.8em;

   &:after {
    top: -1em;
    border-bottom: 1px solid hsla(0,0%,50%,.33);
    position: absolute;
    left: 0;
    right: 0;
  }
}
 
h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  margin-bottom: .8em;
  font-weight: bold;
  margin-top: 2em;
  
  &:after {
    display: none;
  }
}
    
blockquote {
  border: 1px solid #f2f2f2; 
  background: #f0f0f0;
  padding: 0 1em;
}

.footnote {
  vertical-align: baseline;
  font-size: 1em;

  &:before {
    content: '[';
  }
  
  &:after {
    content: ']';
  }
}

.footnotes p {
  margin: 0;
  display: inline-block;
}

.stackedit__html.wide {
  max-width: none;
}
.stackedit__left {
  left: auto;
  right: 0;
}
.stackedit__right {
  left: 0;
  right: 250px;
}
    

// Nested Lists
ol {
  counter-reset: list;                
  list-style-type: none;
  padding-left: 50px;
}
ol ol {
  padding-left: 65px;
}
ol ol ol {
  padding-left: 80px;
}

li {
  counter-increment: list;   
  margin-top: .25em;
}

li:before {
  color: grey;
  display: inline-block;
}

ol li:before {
  content: "(" counters(list, ".") ")";
  width: 40px;
  margin-left: -40px;
}
ol ol > li:before {
  content: counters(list, ".") ".";
  width: 45px;
  margin-left: -45px;
}
ol ol ol > li:before {
  content: counters(list, ".") ".";
  width: 60px;
  margin-left: -60px;
}

/* Level 2 Reset */
ol ol.reset-2 {
  padding-left: 55px;
}
ol.reset-2 {
  counter-reset: two;    
}
ol.reset-2 > li {
  counter-increment: two; 
}
ol.reset-2 > li:before {
  content: "(" counters(two, ".") ")";
  width: 35px;
  margin-left: -35px;
}

/* Level 3 Reset */
ol ol.reset-3 {
  padding-left: 55px;
}
ol ol.reset-3 {
  counter-reset: three;    
}
ol ol.reset-3 > li {
  counter-increment: three; 
}
ol ol.reset-3 > li:before {
  content: "(" counters(three, ".") ")";
  width: 40px;
  margin-left: -40px;
}