<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="{{ site.encoding }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.excerpt }}">
  <meta name="author" content="{{ page.author }}">
  <!-- styles --> 
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>  
  {{ content }}
  
  <!-- scripts --> 
  <script type="text/javascript" src="assets/js/libs/jquery-2.1.4.min.js"></script>  
  <script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>